/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f1ff;
}
/* nav bar */
.topnav {
    overflow: hidden;
    background-color: blue;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: rgb(123, 123, 160);
}

.topnav a.active {
    background-color: rgba(169, 175, 196, 0.404);
    color: white;
}

.topnav .icon {
    display: none;
}

/* top players style */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-title {
    color: #562eff;
    font-size: 24px;
    margin-top: 3px;
}
.container {
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.top-players {
    margin-bottom: 30px;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player {
    display: flex;
}
.player img {
    width: 56px;
    height: 56px;
}
.player-name {
    margin-left: 16px;
    font-size: 18px;
}

hr {
    border: 1px solid #d1d1d1;

    margin-bottom: 27px;
}
/* top blog styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog {
    display: flex;
}
.blog img {
    width: 177px;
    height: 117px;
}
.blog-info {
    margin-left: 16px;
}
.blog-title {
    font-size: 20px;
}
.blog-author {
    color: #9f9f9f;
    font-size: 16px;
}
.blog-author a {
    text-decoration: none;
    font-size: 16px;
    color: #562eff;
}
/* courses style */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}
.course {
    padding: 16px;
    width: 237px;
    box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0, 0.5);
    border-radius: 15px;
}
.course .course-banner img {
    width: 224px;
    height: 104px;
}
.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled {
    color: #ffc014;
}
.fa-star.empty {
    color: #aeaeae;
}

/* -------------Media Queries--------- */

@media only screen and (max-width: 688px) {
    .container {
        width: 100%;
    }
    .players,
    .blogs,
    .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .player,
    .blog {
        flex-direction: column;
    }
}

/* tablet device */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .players,
    .courses {
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}
/* navbar */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}
